.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../assets/mazes/secondgifB.gif");
  height: 100vh;
  color: white;
  /* justify-content: space-evenly; */
}
