.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../assets/mazes/secondgifB.gif");
  height: 100vh;
  color: white;
  font-family: "Orbitron", sans-serif;
}

.content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  height: 35px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid black;
}
