.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  background-color: lightblue;
  height: 40px;
  align-items: center;
  border-bottom: 4px solid black;
}

.home {
  text-decoration: none;
  color: purple;
  font-weight: 900;
}

.home:hover {
  transform: scale(1.1);
}
